body {
  margin: 0;
  padding: 0;
  border: 0;
  animation: fadein 3s;
  overflow-x: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html,
body {
  overscroll-behavior-y: contain;
}

/* stylelint-disable-next-line selector-id-pattern */
#google_translate_element {
  height: 0;
  visibility: hidden;
}
